.about-dark {
  background-color: #191919;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 860px;
  height: 100%;
  z-index: 3;
}

.about-dark-content {
  display: flex;
  height: 100%;
}

.about-dark-title {
  padding-left: 4rem;
  padding-top: 4rem;
  color: #97a8f8;
  font-size: 42px;
}

.about-dark-content-left {
  padding-left: 4rem;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  height: 100%;
}

.about-dark-content-right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  padding-right: 4rem;
  padding-bottom: 2rem;
  height: 100%;
}

.about-dark-text {
  text-align: justify;
  color: #e1e1e1;
  text-align: justify;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 2px;
}

.about-dark-img {
  max-width: 480px;
}

/* RESPONSIVE */
@media screen and (max-width: 1200px) {
  .about-dark-img {
    max-width: 380px;
  }
  .about-dark-text {
    font-size: 12px;
  }
  .about-dark-content-left,
  .about-dark-content-right {
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 830px) {
  .about-dark-content {
    flex-direction: column;
  }
  .about-dark-title {
    padding-left: 2rem;
    font-size: 36px;
  }
  .about-dark-content-left {
    padding-left: 0rem;
    align-items: center;
    justify-content: center;
  }
  .about-dark-text {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .about-dark-content-right {
    align-items: center;
    justify-content: center;
  }
  .about-dark-img {
    max-width: 340px;
  }
}

@media screen and (max-width: 400px) {
  .about-dark-title {
    font-size: 32px;
  }
  .about-dark-content-left {
    align-items: center;
    justify-content: center;
  }
  .about-dark-text {
    max-width: 320px;
    margin-right: 2rem;
    font-size: 10px;
  }
  .about-dark-img {
    max-width: 280px;
  }
}
