.whatwedo {
  width: 100%;
  display: flex;
  background-color: #f1f5ff;
  padding-bottom: 4rem;
}

/* .whatwedo-gradient {
  position: absolute;
  max-width: 250px;
  max-height: 200px;
} */

.whatwedo-title {
  max-width: 280px;
  font-size: 32px;
  color: #97a8f8;
  text-align: right;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.2px;
}

.whatwedo-title-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.whatwedo-content {
  display: flex;
  height: 100%;
  width: 100%;
  margin-left: 4rem;
  margin-right: 4rem;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.whatwedo-box {
  max-width: 460px;
  background-color: #f0e5ff;
  transition: transform 0.3s ease-in-out;
}
.box-img {
  max-width: 460px;
}
.box-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  row-gap: 2rem;
}

.box-title {
  font-size: 20px;
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.box-content {
  padding-left: 1.5rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 3rem;
  text-align: justify;
  font-size: 14px;
}

.whatwedo-box:hover {
  transform: scale(1.04);
}

/* RESPONSIVE */
@media screen and (max-width: 1080px) {
  .whatwedo-box,
  .box-img {
    max-width: 380px;
  }
  .box-title {
    font-size: 18px;
  }
  .box-content {
    font-size: 13px;
  }
}

@media screen and (max-width: 830px) {
  .whatwedo-box,
  .box-img {
    max-width: 300px;
  }
  .box-title {
    font-size: 16px;
  }
  .box-content {
    font-size: 12px;
  }
  .box-container {
    gap: 1rem;
    row-gap: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .whatwedo-title {
    font-size: 24px;
    max-width: 200px;
  }
  .whatwedo-box {
    max-width: 80%;
  }
  .box-img {
    max-width: 100%;
  }
  .box-title {
    font-size: 15px;
  }
  .box-content {
    font-size: 11px;
    padding-bottom: 2rem;
  }
  .whatwedo-content {
    padding-top: 2rem;
  }
}
